* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: rgb(36,28,28);
    background: linear-gradient(50deg, rgba(36,28,28,1) 20%, rgba(102,46,57,1) 49%, rgba(154,38,60,0.9732843821122199) 71%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}



.form_page {
    position: relative;
    height: 100vh;
    text-align: center;

}

.form_tittle{
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-top: -50px;
    padding-bottom: 30px;
}

.span {
    color: #DC143C;
    font-weight: 700;
    font-size: 24px;
}

.form_inner {
    height: 500px;

}



form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -300px;

    width:600px;
    padding: 100px 100px 50px 100px;
    background-color: rgba(19,19,19, .3);
}
input {
    display: block;
    font-family: inherit;
    margin-bottom:7px;
    padding:7px;
    width: 400px;
    border:1px solid #DC143C;
    border-radius: 10px;
    background: none;
    color: #FFF;
}

input:focus {
    outline: none;
    border: 1px solid #FFF;
    border-radius: 10px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: .5;
    font-style: italic;
    font-size: 12px;
/* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFF;
    opacity: .5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFF;
    opacity: .5;
}
.btn_form {
    padding:10px 50px;
    margin-top: 20px;
    font-weight: 500;
    border: none;

}

.btn_form:hover{
    background-color: #dec0c8;
    border: none;
    color: red;

}

label {
    display: block;
  cursor:pointer;
    color: gray;
    padding-top: 10px;
    font-size: 14px;
}

label:hover{
    color: white;
    text-decoration: underline;
    transition: .2s;
}

#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}

.page {
    height: 110vh;
    background: inherit;
    position: relative;

}

.header {
    background-color: rgba(5,5,5, .4);
    padding: 10px;
    margin-bottom: 60px;

}
.container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;

}

.header_elements {
   display: flex;
    justify-content: space-between;
    color: white;

}

.header_elements {
   display: flex;
    justify-content: space-between;
    color: white;

}

.Logo {
    font-weight: 400;
}


.header_user {
    position: relative;
    margin-right: 35px;
    font-size: 15px;
}

.user {
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 25px;
    top: 3px;
    left: 70px;

}


.search-box {
    margin-left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    border-radius: 20px;
    height: 35px;
    background-color: white;
    color: black;
}


.search-txt {
    width: 420px;
    border: none;
}

.search-txt:focus {
    border: none;
}

.img-search{
    margin-left: 10px;
    width: 20px;
    height: 20px;

}



.video_lines {
    display: block;
    width: auto;

}

.line {
   display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}


.video {
    display: block;
    width: 200px;
    height: 120px;
    background-color: rgba(0,0,0, .4);
    text-align: center;

}

.play {
    display: block;
    width: 85px;
    height: 85px;
    margin: 18px auto;


}

.play:hover {
    transform: scale(1.2);
    transition: .4s;
}

.text_video {
    color: #FFF;
    font-size: 12px;

}

.text_video:hover{
    text-decoration: underline;
    transform: .2s;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(5,5,5,.4);
    text-align: center;

}

.copyright {
    color: white;
    font-size: 14px;
    padding-top: 15px;
}



.top_elements {
    position: relative;
    width: 600px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.btn_video{
    position: absolute;
    right: 0;
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.heading {
    position: absolute;
    left: 5px;
    color: #FFF;
    margin-bottom: 50px;
    font-weight: 700;
}

.video_section {
    display: block;
    position: absolute;
    left: 50%;
    top: 60px;
    margin-left: -450px;
    width: 900px;
    height: 450px;
    background-color: rgba(0,0,0, .5);
}

.play_video {
    margin: 120px auto;
    width: 200px;
    height: 200px;
}

.heading2 {
    text-align: center;
    color: #8854c1;
    text-transform: uppercase;
}


.heading3 {
    margin-top: 50px;
    text-align: center;
    color: #FFF;

}







































