<!DOCTYPE html>

{% load static %}
{% load tags %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">

        <title>Main Page</title>
    </head>
    <body>
<div class="page">
<header class="header">
    <div class="container">

        <div class="header_elements">
            <a href='/' style="text-decoration: none;  color: #FFFFFF;"><div class="Logo">highl<span class="span" >Ai</span>ghts</div></a>
            <div class="header_user">{{ name }}<img class = "user" src="{% static 'images/user.png' %}" alt="">
            </div>
    </div>

    </div>
    </header>

     <main class="main">
        <div class="container">
        {% if is_staff %}
         <a href="admin_panel/" class="control_panel">Control Panel</a>
        {% endif %}
        <!-- <div class="search-box"> -->
        <form class="search-box" method="post" action="add_stream/">
            {% csrf_token %}
            <input class="search-txt" type="text" placeholder="Add stream..." name="stream_link">
            <button class="search-btn" href="."><img class="img-search" src="{% static 'images/add.png' %}"></button>
        </form> 

        <!-- </div> -->
        <div class="video_lines">
            {% for stream in stream_data %}
                {% if forloop.counter|modulo:3 == 1 %}
                    <div class="line">
                        <div class="video"><a href="stream/{{ forloop.counter }}"><img class = "play" src="{% static 'images/play.png' %}" alt=""><a class="text_video">{{stream.stream_name}}</a></a></div>
                {% elif forloop.counter|modulo:3 == 0 %}
                <div class="video"><a href="stream/{{ forloop.counter }}"><img class = "play" src="{% static 'images/play.png' %}" alt=""><a class="text_video">{{stream.stream_name}}</a></a></div>
                    </div>
                {% else %}
                <div class="video"><a href="stream/{{ forloop.counter }}"><img class = "play" src="{% static 'images/play.png' %}" alt=""><a class="text_video">{{stream.stream_name}}</a></a></div>
                {% endif %}

                {% if forloop.last and forloop.counter|modulo:3 != 0 %}
                </div>
                {% endif %}
            {% endfor %}
            <!-- <div class="line">
               <div class="video">
                   <img class = "play" src="{% static 'images/play.png' %}" alt="">
                    <a class="text_video">Lorem ipsum dolor</a>
               </div>
               <div class="video"><img class = "play"  src="{% static 'images/play.png' %}" alt=""> <a class="text_video">Lorem ipsum dolor</a>
               </div>
               <div class="video"><img class = "play"  src="{% static 'images/play.png' %}" alt=""> <a class="text_video">Lorem ipsum dolor</a></div>
            </div>
              <div class="line">
               <div class="video"><img class = "play"  src="{% static 'images/play.png' %}" alt="">
               <a class="text_video">Lorem ipsum dolor</a></div>
               <div class="video"><img class = "play"  src="{% static 'images/play.png' %}" alt="">
                <a class="text_video">Lorem ipsum dolor</a></div>
               <div class="video"><img class = "play"  src="{% static 'images/play.png' %}" alt=""> <a class="text_video">Lorem ipsum dolor</a></div>
            </div> -->

        </div>

    </div>
    </main>

    <footer class="footer">
    <div class="container">
        <div class="copyright">Copyright ©</div>
    </div>
    </footer>
        </div>



    </body>
</html>

